<div class="items container">
  <div class="item">
    <div class="item__img">
      <img src="../../assets/images/1.jpg" alt="" />
    </div>
    <div class="item__text col-12">
      <h6 class="text-danger">Angular list of prohbited words</h6>
    </div>
    <div class="item__btn col-12">
      <a
        type="button"
        class="btn btn-success col-10"
        [routerLink]="['/works/cenzor']"
        routerLinkActive="active"
        >details</a
      >
    </div>
  </div>
  <div class="item">
    <div class="item__img">
      <img src="../../assets/images/2.jpg" alt="" />
    </div>
    <div class="item__text col-12">
      <h6 class="text-danger">Angular task list</h6>
    </div>
    <div class="item__btn col-12">
      <a
        type="button"
        class="btn btn-success col-10"
        [routerLink]="['/works/task']"
        routerLinkActive="active"
        >details</a
      >
    </div>
  </div>
  <div class="item">
    <div class="item__img">
      <img src="../../assets/images/3.png" alt="" />
    </div>
    <div class="item__text col-12">
      <h6 class="text-danger">Angular users list</h6>
    </div>
    <div class="item__btn col-12">
      <a
        type="button"
        class="btn btn-success col-10"
        [routerLink]="['/works/users']"
        routerLinkActive="active"
        >details</a
      >
    </div>
  </div>
</div>
