<ul class="nav nav-tabs">
  <li class="nav-item d-flex first__text">
    Last works >>>
  </li>
  <li class="nav-item">
    <a
      class="nav-link text-primary"
      href="#"
      [routerLink]="['/works/cenzor']"
      routerLinkActive="active"
      >Cenzor</a
    >
  </li>
  <li class="nav-item">
    <a
      class="nav-link text-primary"
      href="#"
      [routerLink]="['/works/users']"
      routerLinkActive="active"
      >Users</a
    >
  </li>
  <li class="nav-item">
    <a
      class="nav-link text-primary"
      [routerLink]="['/works/task']"
      routerLinkActive="active"
      href="#"
      >Task</a
    >
  </li>
  <li>
    <a
      class="nav-link text-danger"
      [routerLink]="['/main']"
      routerLinkActive="active"
      href="#"
      >Back to >>> Home</a
    >
  </li>
</ul>
